<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @place.place_id %>
</p>

<p>
  <strong>Place name:</strong>
  <%= @place.place_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @place.city %>
</p>

<p>
  <strong>Street:</strong>
  <%= @place.street %>
</p>

<p>
  <strong>Street no:</strong>
  <%= @place.street_no %>
</p>

<p>
  <strong>Open hours:</strong>
  <%= @place.open_hours %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
